<!DOCTYPE html> <!-- Identifies the document below as HTML language-->
<html> <!-- The Information below is in the HTML language-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content= "width=device-width, intial-scale=1.0"> <!--This allows screen fitting for devices-->
        <title>PostalExpressMint</title> <!--Name that goes in the tab of the browser-->
        <link rel="stylesheet" href="styles.css" /> <!--Links styling sheet which makes the website pretty-->
    </head>
    
    <body> <!-- The actual display of the website-->
        <div class="banner"> <!-- Creates a base for the navbar-->
            <div class="navbar"> <!-- Information for the navbar functionality and aesthetic-->
                <img src="images/PEMBG1.jpg" class="logo">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="products.html">TRADING-POSTS</a></li>
                </ul>
            </div>    
        </div>
        <!-- Main Header for webpage -->
        <div class="content">
            <h1>POSTAL EXPRESS MINT</h1>
                <p>
                  Specializing in Hobby Art Bars<br></p>
                <div>
                    <a href="index.html">
                    <button type="button">HOME<span></span></button></a>
                </div>
        </div>    

        <!-- Head title for webpage-->
        <div class="title">
                <h2><u>The Trading Posts</u></h2><br>
        </div>
        
        <main class="app">

            <div class="header">
                <h2>Upload Images</h2>
                <div class="server-message"></div>
            </div>

            <div class="input-div">
                <p>Drag & Drop Images here or <span class="browse">BROWSE</span></p>
                <input type="file" class="file" multiple="multiple" accept="image/png, image/jpeg, image/
                jpg">
            </div>

            <form id="queued-form">
                <div class="header">
                    <h3>Queued In Frontend</h3>
                    <button type="submit">Upload</button>
                </div>
                <div class="queued-div"></div>
            </form>

            <form id="saved-form">
                <div class="header">
                    <h1>Saved In Server</h1>
                    <button type="submit">Delete</button>
                </div>
                <div class="saved-div"></div>
            </form>

        </main>
        
            <script>
                let queuedImagesArray = [],
                savedForm = document.querySelector("#saved-form"),
                queuedForm = document.querySelector("#queued-form"),
                savedDiv = document.querySelector(".saved-div"),
                queuedDiv = document.querySelector(".queued-div"),
                inputDiv = document.querySelector(".input-div"),
                input = document.querySelector(".input-div input"),
                savedImages = JSON.parse('<%-JSON.stringify(images)%>'), 
                serverMessage = document.querySelector(".server-message"),
                
                deleteImages = [];

                // SAVED SERVER IMAGES
                if(savedImages) displaySavedImages()

                function displaySavedImages(){
                        let images = ""
                        savedImages.forEach((image, index) => {
                            images += `<div class="image">
                                        <img src="http://localhost:3000/uploads/${image}"
                                        alt="image">
                                        <span onclick="deleteSavedImage(${index})">&times;</span>
                                        </div>`
                    })
                    savedDiv.innerHTML = images
                }
                

                function deleteSavedImage(index)
                    {
                    deleteImages.push(savedImages[index])
                    savedImages.splice(index,1)
                    displaySavedImages()
                    }

                savedForm.addEventListener("submit", (e) => {
                    e.preventDefault()
                    deleteImagesFromServer()
                })

                function deleteImagesFromServer(){
                    fetch("delete", {
                        method : "PUT",
                        headers: {
                            "Accept" : "application/json, text/plain, */*",
                            "Content-type" : "application/json"
                        },
                        body : JSON.stringify({deleteImages})
                    })

                    .then(response => {
                        if(response.status !== 200) throw Error(response.statusText)
                        deleteImages = []
                        serverMessage.innerHTML = response.statusText
                        serverMessage.style.cssText = "background-color: #d4edda, color:#1b5e20"
                    })

                    .catch(error => {
                        serverMessage.innerHTML = error
                        serverMessage.style.cssText = "background-color: #f8d7da; color #b71c1c"
                    })
                }
                // QUEUED IN FRONTEND IMAGES
                input.addEventListener("change", () => {
                    const files = input.files
                    for(let i = 0; i < files.length; i++){
                        queuedImagesArray.push(files[i])
                    }
                    queuedForm.reset()
                    displayQueuedImages()
                })
                inputDiv.addEventListener("drop", (e) =>{
                    e.preventDefault()
                    const files = e.dataTransfer.files
                    console.log(files)
                    for(let i = 0; i < files.length;i++){
                        if(!files[i].type.match("image")) continue

                        if(queuedImagesArray.every(image => image.name !== files[i].name))
                            queuedImagesArray.push(files[i])
                    }
                    displayQueuedImages()
                })

                    function displayQueuedImages(){
                        let images = ""
                        queuedImagesArray.forEach((image, index) => {
                            images += `<div class="image">
                                        <img src="${URL.createObjectURL(image)}" alt="image">
                                        <span onclick="deleteQueuedImage(${index})">&times;</span>
                                        </div>`
                    })
                    queuedDiv.innerHTML = images
                    }

                    function deleteQueuedImage(index){
                        queuedImagesArray.splice(index, 1)
                        displayQueuedImages()
                    }

                    queuedForm.addEventListener("submit", (e) => {
                        e.preventDefault()
                        sendQueuedImagesToServer()
                    })

                    function sendQueuedImagesToServer(){
                        const formData = new FormData(queuedForm)
                    
                        queuedImagesArray.forEach((image, index) => {
                            formData.append(`file[${index}]`, image);
                        })

                        fetch("upload", {
                            method: "POST",
                            body : formData
                        })

                        .then(response => {
                            if(response.status !==200) throw Error(response.statusText);
                            location.reload();
                        })

                        .catch(error => {
                            serverMessage.innerHTML = error
                            serverMessage.style.cssText = "background-color: #f8d7da; color: #b71c1c";
                        })
                    }
            </script>

            <div id="chat-box"></div>
        
                

        <hr>
            <ul>    
                <li><a href="https://www.facebook.com/groups/PEMARTBARS"target="_blank"><img src="images/facebook_logo.png"> Facebook</a></li>
                <li><a href="https://www.instagram.com/postalexpressmint/"target="_blank"><img src="images/instagram_logo.png"> Instagram</a></li>
            </ul>




        
        
    </body>
    <footer>Contact Us at postalexpressmint@gmail.com</footer>
</html>